<ion-view view-title="List of Issues">
<ion-content>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>


    <ion-list> <!--ng-class="{colorOk: issue.state=='solved', colorNotOk:issue.state!=='solved'}" -->
      <ion-item class="item item-thumbnail-left" ng-repeat="issue in issuesList" type="item-text-wrap" href="#/tab/issues/{{issue.id}}">
        <img ng-src="{{issue.imageUrl}}">
        <h2>{{issue.issueType.name}}</h2>
        <p ng-class="{colorOk: issue.state=='solved', colorNotOk:issue.state!=='solved'}">{{issue.state}}</p>
        <p>{{issue.issueType.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(issues)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>







</ion-content>
</ion-view>
