<ion-view view-title="Citizen Engagement">
  <ion-content class="padding">

    <!-- A banner. Choose an image and save it as www/img/banner.jpg -->
    <img src="img/banner.jpg" width="100%" alt="Citizen Engagement" />

    <!-- A short welcome message. -->
    <div class="card">
      <div class="item item-text-wrap">
        Welcome to Citizen Engagement!
        Please register to use the application.
      </div>
    </div>

    <!-- The login form that the citizen must fill. -->
    <form name="loginForm">

      <!-- Ionic uses lists to group related input elements. -->
      <div class="list">
        <label class="item item-input">
          <!-- Note the required="required" attribute used for validation. -->
          <input type="text" placeholder="First Name" ng-model="user.firstname" required="required"/>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="user.lastname" required="required"/>
        </label>
      </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="error" class="error">{{ error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->
      <button class="button button-full button-positive" ng-click="register()" ng-disabled="loginForm.$invalid">Register</button>
    </form>
  </ion-content>
</ion-view>