<ion-view view-title="New Issue">
<ion-content>
<ion-list>
<div class="list list-inset">

<ion-item>
  <ion-label floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<label class="item item-input">
	<span class="input-label">Lieu</span>
	<i class="icon ion-map"></i>
	<input type="text" id="lieu">
</label>
<label class="item item-input">
	<span class="input-label">Photo</span>
	<i class="icon ion-camera"></i>
	<input type="text" id="photo">
</label>

<label class = "item item-input item-select">
	<div class = "input-label">
		IssueType
	</div>
	<select>
		<option selected>{state}</option>
		<option>Renouveler</option>
		<option>Nettoyage</option>
	</select>
</label>

<button class="button button-full button-positive" ng-click="">
	Submit
</button>
</div>  
<ion-list>
</ion-content>
</ion-view>