<ion-view view-title="New Issue">
  <ion-content>
    <ion-list>
    <div class="list list-inset">
	    <label class="item item-input">
	      <span class="input-label">Numéro de téléphone</span>
	      <input type="tel" id="nTel">
	    </label>
	    <label class="item item-input">
	      <span class="input-label">Pseudo</span>
	      <input type="text" id="pseudo">
	    </label>
	    <label class="item item-input">
	      <span class="input-label">Pseudo</span>
	      <input type="text" id="pseudo">
	    </label>
	    <button class="button button-full button-positive" ng-click="">
	        Submit
	    </button>
  	</div>  
    <ion-list>
  </ion-content>
</ion-view>