
<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
        <div class="item item-divider"></div>
        <label class="item item-input">
          <span class="input-label">Prenom :</span>
          <!-- <input type="text" ng-model="profile.FirstName" ng-change="editProfile()"/> -->
        </label>
        <label class="item item-input">
          <span class="input-label">Nom :</span>
          <span>{{profile.PhoneNumber}}</span>
        </label>
        <div class="item item-divider"></div>
    </ion-list>
  </ion-content>
</ion-view>
