
<ion-view view-title="Profile">
  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
        <div class="item item-divider"></div>
        <label class="item item-input">
          <span class="input-label">Prenom : {{user.firstname}}</span>
          <!-- <input type="text" ng-model="profile.firstName" ng-change="editProfile()"/> -->
        </label>
        <label class="item item-input">
          <span class="input-label">Nom : {{user.lastname}}</span>
          <!-- <input type="text" ng-model="profile.lastName" ng-change="editProfile()"/> -->
          <span>{{profile.PhoneNumber}}</span>
        </label>
        <div class="item item-divider"></div>
    </ion-list>
  </ion-content>
</ion-view>
